/*
* {
  border-style: solid;
}
*/

*, ::after, ::before {
    box-sizing: content-box;
}

/*--GLOBAL--*/
body {
  margin: 0;
  color: #DDDDDD;
  text-align: center;
}

h1, h2, p {
  font-family: abril-fatface;
  margin: 0;
  font-size: 36px;
}

h2 {
  font-size: 48px;
  padding-top: 88px;
}

p {
  font-family: lato;
  font-size: 16px;
  padding: 0px 0px 40px 0px;
}

a {
  color: #3F51B5;
  text-decoration: none;
}

a:active, a:hover a:visited {
  color: #6271C1;
  text-decoration: underline;
}

/*--BODY--*/
.header {
  height: 200px;
  width: 100%;
  background: #1B1B1B;
}

#camera {
  padding-top: 35px;
  max-width: auto;
  max-height: 50px;
}

.btn-1, .btn-2, .btn-3 {
  border: solid #DDDDDD;
  padding: 9px 35px;
  text-align: center;
  text-decoration: uppercase;
  display: inline-block;
  font-size: 16px;
  font-family: lato;
  color: #DDDDDD;
  background-color: transparent;
  transition: border-color 0.3s ease-out, color 0.3s ease-out;
  text-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

.btn-1:hover, .btn-2:hover, .btn-3:hover, .btn-1:active, .btn-2:active, .btn-3:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: rgba(221,221,221,0.15);
  color: #DDDDDD;
  transition: border-color 0.4s ease-in, color 0.4s ease-in;
}

.section-1, .section-2, .section-3 {
  height: 336px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-image: url("img/IMG_6572.png");
  text-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
}

/*
.section-1:hover, .section-1:active {
  background-image: url("img/IMG_6572_actual.png");
}
*/

.section-2 {
  background-image: url("img/IMG_6352.png");
}

.section-3 {
  background-image: url("img/IMG_6430.png");
}

.footer {
  height: 64px;
  width: 100%;
  background: #1B1B1B;
  padding-top: 40px;
}

#heart {
  max-width: auto;
  max-height: 16px;
  padding: 0px 2px 0px 2px;
}

.modal-header {
  background-color: #DDDDDD;
}

.modal-body {
  background-color: #1B1B1B;
}